//About Component Styles

.about {
  @extend .flex-center;
  @extend .background;
  border-radius: 2rem;
  width: 18rem;
  height: 35rem;
  margin: 2.5rem 0 7rem 0;
  padding: 2rem 1rem;
  overflow-y: scroll;
  justify-content: unset;

  @include tablet {
    margin: 0;
    width: 50rem;
    height: 42rem;
    border-radius: 1rem;
    padding: 4rem;
  }

  @include desktop {
    justify-content: space-around;
    padding: 5rem;
    height: 50rem;
    width: 60rem;
  }

  &__title {
    font-family: $slab-bold;
    text-align: center;
    margin: 0 0 1rem 0;
    color: $primary-color;
    font-size: 1.5rem;
    @include tablet {
      font-size: 1.5rem;
      margin: 0 0 1.5rem 0;
    }
  }

  &__p {
    line-height: 2rem;
    text-align: justify;
    color: $primary-color;
    margin: 0 0 1rem 0;
    @include tablet {
      width: 35rem;
    }
  }
}
