//Contact Component Styles

.contact {
  @extend .flex-center;
  @extend .background;
  border-radius: 2rem;
  width: 18rem;
  height: 39rem;
  margin: 2.5rem 0 7rem 0;
  padding: 1.5rem;
  justify-content: unset;

  &__title {
    font-family: $slab-bold;
    color: $primary-color;
    margin: 2rem 0;
  }

  &__list {
    @extend .flex-center;
  }

  &__list-item {
  }

  &__link {
    @extend .flex-center;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem 0;
    width: 16rem;
    color: $primary-color;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
  }

  &__p {
    font-family: $regular;
  }
}
