// Global Styles

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  height: 100vh;
  min-height: 100%;
}
html,
body {
  font-family: $regular;
  font-size: 16px;
}

// Utility Classes

.container {
  max-width: $tablet-width;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
