//Menu Component Styles

.menu {
  @extend .flex-center;
  @extend .background;
  border-radius: 2rem;
  width: 16rem;
  margin: 1.5rem 0;
  padding: 1rem;

  &__list {
    @extend .flex-center;
  }

  &__item-wrapper {
    width: 11rem;
  }

  &__link {
    @extend .flex-center;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__img {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
  }

  &__title {
    font-family: $medium;
    color: $primary-color;
    margin: 1rem;
    font-size: 1rem;
  }
}
