//Nav Component Styles

.nav {
  @extend .background;
  width: 100vw;
  padding: 1.5rem 0;
  position: absolute;
  bottom: 0;

  @include tablet {
    position: unset;
    width: 25rem;
    height: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
  }

  @include desktop {
    height: 50rem;
    width: 30rem;
  }

  &__list {
    @extend .flex-center;
    flex-direction: row;
    justify-content: space-around;

    @include tablet {
      flex-direction: column;
    }
  }

  &__item-wrapper {
    @extend .flex-center;
  }

  &__link {
    @extend .flex-center;
    flex-direction: row;
    justify-content: flex-start;
    @include tablet {
      width: 11rem;
    }
  }

  &__img {
    width: 2rem;
    height: 2rem;
    @include tablet {
      margin: 1rem;
    }
  }

  &__title {
    display: none;

    @include tablet {
      display: block;
      font-family: $medium;
      color: $primary-color;
      margin: 1rem;
      font-size: 1rem;
    }
  }
}

.nav .user {
  display: none;

  @include tablet {
    display: block;
    margin: 1rem 1rem 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
      width: 6rem;
      height: 6rem;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__subtitle {
      font-size: 1.25rem;
    }
  }
}
