//Skills Component styles

.skills {
  @extend .flex-center;
  @extend .background;
  border-radius: 2rem;
  width: 18rem;
  height: 35rem;
  margin: 2.5rem 0 7rem 0;
  padding: 2rem 1rem;
  justify-content: unset;
  @include tablet {
    margin: 0;
    width: 50rem;
    height: 42rem;
    border-radius: 1rem;
    padding: 4rem;
  }

  @include desktop {
    padding: 5rem;
    height: 50rem;
    width: 60rem;
  }

  &__title {
    font-family: $slab-bold;
    color: $primary-color;
    margin: 0 0 2rem 0;
  }

  &__list {
    @extend .flex-center;
    flex-direction: row;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: column;
    }
  }

  &__list-item {
    @extend .flex-center;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0.75rem 0;
    width: 14rem;
    color: $primary-color;
  }

  &__icon {
    width: 2rem;
    margin: 0 1rem;
  }
}

#css {
  height: 2.2rem;
}
